.note-form {
    color: var(--background-primary-dark);
    border-radius: 25px;
    border: 1px solid var(--background-primary-dark);
    width: 100%;
    height: calc(100vh - 120px);
}

.dropdown { 
    position: relative;

    &:hover .dropdown-content {
        display: block;
    }
}

.small {
    font-size: 12px;
}

.note-head {
    display: flex;
    justify-content: space-between;
    vertical-align: top;

    .align-left {
        color: var(--background-secondary-dark);
        position: relative;
        text-align: left;
        margin-left: 16px;
        line-height: 8px;
        > {
            display: inline-block;
        }
    }
    
    .align-right {
        margin-top: -8px;
        margin-right: 10px;
        text-align: right;
        span {
            display: inline-flex;
        }
    }
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 18px;
    border-radius: 4px;
    background-color: transparent;

    li {
        font-size: 16px;
        text-align: center;
        background-color: var(--background-primary-dark);
        color: var(--color-primary-dark);
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        select {
            margin-left: 6px;
            background: transparent;
            color: var(--color-primary-dark);
            border: transparent;
            
            option {
                background: var(--background-primary-dark);
                color: var(--color-primary-dark);
            }
        }

        &:hover {
            background-color: var(--background-secondary-dark);
        }

        &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-color: transparent;
        }
        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-color: transparent;
        }
    }
}

.note-content {
    text-align: left;
    >* {
        width: 93%;
        margin-left: 3%;
    }
    input {
        font-size: 24px;
        background-color: transparent;
        border: none;
        &:focus-visible {
            outline: none;
            
            &::placeholder {
                color: var(--background-secondary-dark)
            }
        }
    }
    textarea {
        margin: 3%;
        font-size: 18px;
        height: calc(100vh - 230px);
        resize: none;
        overflow: auto;
        background-color: transparent;
        margin-top: 12px;
        border: none;
        &:focus-visible {
            outline: none;
            
            &::placeholder {
                color: var(--background-secondary-dark)
            }
        }
    }
}